* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  background: url('https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683_1280.png') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
}

.container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.glass {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px 40px;
  color: white;
  text-align: center;
  min-width: 300px;
}

.weather-info p{
    display: flex;
    line-height: 2.5;
    justify-content: space-between;
}

.weather-form h2 {
  margin-bottom: 15px;
}

.weather-form input {
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 15px;
  border-radius: 8px;
  font-size: 16px;
}

.weather-form button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.weather-info h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.weather-info img {
  width: 10rem;;
  margin-bottom: 10px;
}
.weather-info{
    display: none; 
    opacity: 0;
  transform: translateX(70px);
  animation: fadeInUp 0.8s linear forwards;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(70px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.temp {
    text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 10px ;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    display: none;
} 

@media (max-width:800px) {
    .weather-form h2{
        font-size: 1.2rem;
    }
    .weather-form button{
        font-size: .9rem;
    }
    .weather-info p{
        line-height: 1.5;
    }
    .weather-info img{
        width: 5rem;
    }
    .weather-info h3{
        font-size: 20px;
    }
    .container{
        padding: 0 40px;
        gap: 10px;
    }
}


